/* @import './a.sass'; */

body {
  margin: 100px;
  padding: 300px;
  background-color: aquamarine;
  /* transform: rotate(90deg); */
  /* css-loader支持 */
  background-image: url('./assets/icon.png');
}
body h4 {
  transform: translateX(10px)
}